body {
    background: #FF5677;
    background: linear-gradient(0deg, #9A0A43 10%, #FF5677 90%) no-repeat;
    background-size: cover;
}

.logo img{
    max-width: 30%;
    height: auto;
}

.header {
    font-family: Raleway, "Myriad Pro", Helvetica, sans-serif;
    color: #FFC1CC;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.header h1 {
    font-weight: bold;
    font-size: 4.5rem;
    color: white;
}

    /*background: #FF5677;
    color: #FFC1CC;*/

.content-row {
    background: white;
}

.navbar {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.coluna {
    border: 0 dashed cadetblue;
}

.glyphicon {
    margin-top: 5rem;
    font-size: 5rem;
    color: #e37682;
}

.transmite {
    color: #a89cc8;
}
